{
    "algorithm": "grid",                
    "parameters": {
        "dls_start": {"type": "discrete", "values": [0.9,0.8,0.7,0.6,0.5,0.4,0.3,0.2,0.1]},
        "dls_end": {"type": "discrete", "values": [0.8,0.7,0.6,0.5,0.4,0.3,0.2,0.1]},              
        "dls_coe0": {"type": "discrete", "values": [5.,2]},
    },
    "spec": {
    "maxCombo": 10000,
    "metric": "val_acc_SumDatasets",
        "objective": "maximize",
    },
    'trials': 1,
}